body {
    height: 90vh;
    display: flex;
    flex-direction: row;
    background-color: #d6cf91;
    font-family: 'Space Mono', 'monospace';
}

.operations {
    background-color: #b7b7b7;
}

.numbers {
    background-color: white;
}

.history {
    transition-duration: 0.1s;
}

.history:hover {
    color: white;
    background-color: black;
    cursor: pointer;
}

.history:active {
    color: black;
    background-color: white;
}

#history-container {
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 10px;
    background-color: white;
    text-align: right;
}

#history-container > p {
    font-size: 30px;
}

#history-equations > div {
    display: flex;
    flex-direction: column;
    margin: 5px;
    border: 1px dotted black;
    padding: 5px;
}

#history-equations > div > .equation {
    align-self: flex-start;
}

#calculator-container {
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#keyboard > div {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10%;
    border: 2px solid white;
    transition-duration: 0.1s;
    box-shadow: 0 9px lightgray;
}

#keyboard > div:hover {
    background-color: black;
    color: white;
}

#keyboard > div.pressed {
    background-color: white;
    color: black;
    transform: translateY(4px);
    box-shadow: 0 5px gray;
}

#keyboard > div:active {
    background-color: white;
    color: black;
    transform: translateY(4px);
    box-shadow: 0 5px gray;
}

#display {
    display: flex;
    flex-direction: column;
    font-size: 50px;
    text-align: right;
    height: 10vh;
    padding: 10px;
    background-color: #e2e2e2;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#display > #display-lower {
    font-size: 25px;
    color: #5f5f5f;
}

#keyboard {
    font-size: 30px;
    font-weight: 550;
    display: grid;
    justify-content: center;
    align-content: center;
    text-align: center;
    grid-template-areas:
        "seven  eight   nine   clear"
        "four   five    six    divide"
        "one    two     three  multi"
        "zero0  point   back   minus"
        ".     .       equals  plus";
    grid-template-columns: repeat(4, 10vh);
    grid-template-rows: repeat(5, 10vh);
    column-gap: 10px;
    row-gap: 19px;
    background-color: #0060ad;
    padding: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#k-backspace {
    grid-area: back;
}

#k-point {
    grid-area: point;
}

#k-clear {
    grid-area: clear;
}

#k-divide {
    grid-area: divide;
}

#k-multi {
    grid-area: multi;
}

#k-minus {
    grid-area: minus;
}

#k-plus {
    grid-area: plus;
}

#k-equals {
    grid-area: equals;
}

#k-1 {
    grid-area: one;
}

#k-2 {
    grid-area: two;
}

#k-3 {
    grid-area: three;
}

#k-4 {
    grid-area: four;
}

#k-5 {
    grid-area: five;
}

#k-6 {
    grid-area: six;
}

#k-7 {
    grid-area: seven;
}

#k-8 {
    grid-area: eight;
}

#k-9 {
    grid-area: nine;
}

#k-0 {
    grid-area: zero0;
}